APP_NAME="iStudio by UFicon"
APP_ENV=staging
APP_KEY=base64:fN59b20fRN78FBqgSmM3vESe3sfXI9ZE7CCigXyounM=
APP_DEBUG=false
APP_URL=https://dapp-be.coolify.pve01.prod.uficon.com
ASSET_URL=https://dapp-be.coolify.pve01.prod.uficon.com

APP_LOCALE=th
APP_FALLBACK_LOCALE=en

# DB — same as production DB or staging DB
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=uficon_dapp
DB_USERNAME=postgres
DB_PASSWORD=

# Cache / Session
CACHE_STORE=database
SESSION_DRIVER=database

# *** Fill in on server ***
# DB_PASSWORD=
